
@{
    ViewBag.Title = "Index";
}


<div>

    <h2>
        @ViewBag.Saludo<br />
        DevIT<br />
        Integrantes:<br />
        URL de Github:<br />
    </h2>
    @Html.ActionLink("Products", "Index", "Product")
    @*@Html.Action("_PhotoGallery", "Product", new { number = 1 })*@

</div>