
@{
    ViewBag.Title = "Index";
}


<div>

    <h2>
        @ViewBag.Saludo<br />
        DevIT<br />
        Integrantes:<br />
    </h2>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <h2>
            <a href="https://github.com/StefiVioli/PineappleSupermarket">URL de Github</a>  <br />
        </h2>
    @*@Html.ActionLink("Products", "Index", "Product")
    @Html.ActionLink("Users", "Index", "User")*@
    @*@Html.Action("_PhotoGallery", "Product", new { number = 3 })*@

</div>